.container {
    width: 100%;
    height: 90vh;
    overflow: hidden;
}

.content {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    height: 60%;
    border: none;
    outline: 5px solid var(--pink65);
    border-radius: 20px;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.2);
}

.userMsg {
    color: var(--white);
    font-family: var(--font);
    font-weight: bold;
    font-size: 1.5em;
}

.text {
    width: 70%;
    height: 20%;
    text-align: center;
    color: var(--white);
    font-family: var(--font);
}

.opacityText {
    opacity: .5;
    font-size: 1.2em;
}

.inputField {
    width: 50%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    width: 100%;
    height: 20%;
    border-radius: 20px;
    color: var(--white);
    background: var(--buttonGradient);
    outline: none;
    border: none;
    padding: 0 1rem;
    font-family: var(--font);
    font-weight: bold;
    font-size: 1em;
}

.login {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginButton {
    width: 20%;
    height: 60%;
    border-radius: 50px;
    border: none;
    outline: none;
    background: var(--buttonGradient);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}

.loginButtonText {
    font-family: var(--font);
    color: var(--white);
    font-size: 1.5em;
}

@media screen and (max-width: 1300px) {
    .loginContainer {
        width: 50%;
    }
}

@media screen and (max-width: 1050px) {
    .loginContainer {
        width: 70%;
        height: 80%;
    }

    .opacityText {
        font-size: 1.1em;
    }
}

@media screen and (max-width: 450px) {
    .loginContainer {
        width: 95%;
        height: 60%;
    }

    .opacityText {
        font-size: .8em;
    }

    .inputField {
        width: 80%;
        height: 50%;
    }

    .loginButton {
        width: 40%;
        font-size: .8em;
    }
}

@media screen and (max-width: 380px) {
    .loginContainer {
        height: 80%;
    }
}

@media screen and (max-width: 450px) and (max-height: 550px) {
    .opacityText {
        display: none;
    }

    .input {
        height: 40%;
    }

    .loginButton {
        height: 100%;
    }
}

@media screen and (max-width: 950px) and (max-height: 450px) {
    .opacityText {
        font-size: .8em;
    }

    .input {
        height: 25%;
    }

    .loginButton {
        width: 25%;
        height: 70%;
    }
}

@media screen and (max-width: 750px) and (max-height: 400px) {
    .opacityText {
        font-size: .6em;
    }

    .input {
        height: 25%;
    }

    .loginButton {
        width: 25%;
        height: 70%;
    }

    .loginButtonText {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 820px) and (min-height: 1100px) {
    .loginContainer {
        height: 50%;
    }

    .opacityText {
        font-size: 1.2em;
    }

    .inputField {
        width: 70%;
        height: 55%;
    }

    .loginButton {
        width: 35%;
        height: 55%;
    }

    .loginButtonText {
        font-size: 1.6em;
    }
}