.container {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.content {
    width: 100%;
    height: 90vh;
}

.titleSpace {
    width: 100%;
    height: 10vh;
    padding: 0 2rem;
}

.title {
    color: var(--white);
    font-family: var(--font);
    font-weight: bold;
}

.contentText {
    color: var(--white);
    font-family: var(--font);
    font-weight: 100;
    font-size: 1.6em;
}

.mainContent {
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
    display: flex;
}

.postImage {
    width: 30%;
    height: 90%;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

.textContent {
    width: 70%;
    height: 90%;
    padding: 0 2rem;
    overflow: auto;
}

@media only screen and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 1) and (min-device-width : 650px) and (max-device-width : 950px) and (max-device-height : 450px) {
    .mainContent {
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .postImage {
        width: 80%;
        height: 80%;
        margin-left: 1em;
    }

    .textContent {
        width: 100%;
    }

    .contentText {
        font-size: 1em;
    }

    .title {
        font-size: 1.2em;
    }
}

@media only screen and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 1) and (min-device-width : 320px) and (max-device-width : 450px) {
    .mainContent {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .titleSpace {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .postImage {
        width: 90%;
        height: 40%;
    }

    .textContent {
        width: 100%;
    }

    .contentText {
        font-size: 1em;
    }

    .title {
        font-size: 1.4em;
    }
}