.container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content {
    width: 80%;
    min-height: 90vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profilePicContainer {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.upload {
    width: 60%;
    height: 5vh;
    color: var(--white);
    font-family: var(--font);
    font-weight: 100;
    font-size: 1.5em;
    background: var(--buttonGradient);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1em;
}

.imageContainerModal {
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.imageHolder {
    position: relative;
    width: 100%;
    height: 50%;
}

.uploadInput {
    display: none;
}

.profilePic {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: var(--testimonialBg)
}

.text {
    font-family: var(--font);
    color: var(--white);
    font-size: .9em;
}

.uploadContainer {
    width: 100%;
    height: 65vh;
}

.buttonUpload {
    width: 50%;
    height: 5vh;
    background: var(--testimonialBg);
    font-size: 1em;
    font-family: var(--font);
    color: var(--white);
    border-radius: 20px;
    margin-top: 2em;
    border: none;
    outline: none;
}