.container {
    width: 100%;
    height: 90vh;
    overflow: hidden;
    font-family: var(--font);
}

.content {
    width: 100%;
    height: 90vh;
    color: white;
}

.profileInformations {
    width: 100%;
    height: 40vh;
    padding: 2rem;
    display: flex;
}

.profilePicContainer {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px 2px var(--purple);
}

.profilePic {
    object-fit: cover;
}

.profileName {
    width: 80%;
    height: 30vh;
    margin-left: 2em;
    transform: translateY(-10%);
}

.displayName {
    font-size: 1.5em;
    font-weight: 700;
}

.registerDate {
    font-size: 1em;
    transform: translateY(-100%);
    font-weight: 100;
}

.profileTextInfo {
    width: 60%;
    display: flex;
}

.profileDescription {
    width: 100%;
}

.description {
    width: 100%;
}

.profileButtonsInfo {
    width: 50%;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
}

.profileButtosSpacer {
    height: 80%;
    width: 100%;
    display: flex;
}

.socialAndBadges {
    width: 50%;
    height: 100%;
}

.social {
    width: 70%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.socialText {
    font-size: 1.5em;
}

.socialBox {
    width: 30%;
    height: 5vh;
    background: rgba(0, 0, 0, 0.404);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.profileButtons {
    width: 100%;
    height: 20%;
    transform: translateY(-55%);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.giftButton {
    width: 16%;
    height: 70%;
    background: var(--purple);
    color: var(--white);
    font-weight: bold;
    font-family: var(--font);
}

.giftButton:hover {
    background: var(--purple);
}

.insideButton {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.normalButton {
    width: 18%;
    height: 70%;
    background: var(--pink);
    color: var(--white);
    font-weight: bold;
    font-family: var(--font);
}

.normalButton:hover {
    background: var(--pink);
}

.removeButton {
    width: 24%;
    height: 70%;
    background: var(--pink);
    color: var(--white);
    font-weight: bold;
    font-family: var(--font);
}

.removeButton:hover {
    background: var(--pink);
}

.galleryContainer {
    width: 75%;
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    transform: translateY(-15%);
}

.title {
    font-size: 1.4em;
}

.gallery,
.favExercises {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.galleryPhoto {
    margin: 0 2.5em 2.5em 0;
    width: 180px;
    height: 180px;
    border-radius: 10px;
    background: var(--pink);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.actualPhoto {
    object-fit: cover;
}

.otherContainer {
    width: 100%;
    height: 70%;
    display: flex;
}

.favouriteExercises {
    width: 25%;
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    transform: translateY(-15%);
}

.favExercisesPhoto {
    margin: 0 2.5em 2.5em 0;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    background: var(--pink);
    position: relative;
    overflow: hidden;
}

.photo {
    object-fit: cover;
}

.socialIcon {
    font-size: 2.5em;
}

.backgroundView {
    width: 100%;
    height: 40vh;
}

@media only screen and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 1) and (min-device-width : 1150px) and (max-device-width : 1450px) {
    .profilePicContainer {
        width: 150px;
        height: 150px;
    }

    .displayName {
        font-size: 1.3em;
    }

    .registerDate {
        font-size: .9em;
    }

    .description {
        font-size: 1em;
    }

    .socialText {
        font-size: 1.2em;
    }

    .socialIcon {
        font-size: 1.7em;
    }

    .title {
        font-size: 1.2em;
    }
}

@media only screen and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 1) and (min-device-width : 950px) and (max-device-width : 1149px) {
    .profilePicContainer {
        width: 120px;
        height: 120px;
    }

    .displayName {
        font-size: 1.1em;
    }

    .registerDate {
        font-size: .7em;
    }

    .description {
        font-size: 0.9em;
    }

    .socialText {
        font-size: 1em;
    }

    .socialIcon {
        font-size: 1.5em;
    }

    .title {
        font-size: 1em;
    }
}

@media only screen and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 1) and (min-device-width : 750px) and (max-device-width : 949px) {
    .profilePicContainer {
        width: 100px;
        height: 100px;
    }

    .displayName {
        font-size: .9em;
    }

    .registerDate {
        font-size: .6em;
    }

    .description {
        font-size: 0.7em;
    }

    .socialText {
        font-size: .8em;
    }

    .socialIcon {
        font-size: 1.3em;
    }

    .title {
        font-size: .8em;
    }

    .galleryPhoto {
        width: 160px;
        height: 160px;
    }

    .favExercisesPhoto {
        width: 120px;
        height: 120px;
    }
}

@media only screen and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 1) and (min-device-width : 550px) and (max-device-width : 749px) {
    .profilePicContainer {
        width: 90px;
        height: 80px;
    }

    .displayName {
        font-size: .8em;
    }

    .registerDate {
        font-size: .55em;
    }

    .description {
        font-size: 0.65em;
    }

    .socialText {
        font-size: .7em;
    }

    .socialIcon {
        font-size: 1em;
    }

    .title {
        font-size: .75em;
    }

    .galleryPhoto {
        width: 120px;
        height: 120px;
    }

    .favExercisesPhoto {
        width: 180px;
        height: 100px;
    }
}