.countNotifications {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 2.8%;
    left: 92.7%;
    font-size: .6em;
    color: var(--white);
    background: var(--purple);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    pointer-events: none;
}

.notification {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font);
}

.contentDialog {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.contentHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.date {
    color: rgba(255, 255, 255, .5);
    font-size: .9em;
}

.contentBold {
    font-weight: bold;
}

.contentRead {
    font-weight: 100;
}