.background {
    background: var(--background);
    width: 100%;
    padding: 0;
}

.receiver {
    width: 45%;
    height: auto;
    color: white;
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: flex-start;
    background-color: var(--buttonGradient);
    cursor: pointer;
}

.sender {
    width: 45%;
    height: auto;
    color: white;
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    align-self: flex-end;
    cursor: pointer;
}

.sender:hover .tooltipS {
    visibility: visible;
}

.receiver:hover .tooltip {
    visibility: visible;
}

.chat {
    width: 100%;
    padding: 1rem;
    height: 95%;
    overflow: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    overflow-x: hidden;
    font-family: var(--font);
}

.chatForm {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.chatInput {
    width: 100%;
    height: 6.4vh;
    border-radius: 0 0 0 10px;
    padding: 1rem .5rem;
    border: none;
    outline: none;
    font-family: var(--font);
    font-size: 1em;
    color: var(--white);
    background: rgb(44, 44, 44);
}

.chatInput::placeholder {
    color: var(--white);
    opacity: .7;
}

.chatButton {
    width: 10%;
    height: 6.4vh;
    border-radius: 0 0 10px 0;
    border: none;
    cursor: pointer;
    background-color: rgba(84, 197, 99, 0.795);
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
}

.button {
    background: var(--buttonGradient);
}

.notification {
    width: 480px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font);
    position: absolute;
    top: 0%;
    left: 0;
}

.itemMessage {
    width: 300px;
    height: 80px;
    margin-left: 1em;
    position: relative;
    overflow-x: hidden;
}

.itemText {
    position: absolute;
    top: 45%;
    left: 0;
}

.messageName {
    position: absolute;
    top: 0;
    left: 0;
}

.messageDate {
    position: absolute;
    top: 0;
    left: 75%;
}

.messageRead {
    position: absolute;
    top: 55%;
    left: 95%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--purple);
}

.delete {
    position: absolute;
    background: var(--buttonGradient);
    left: 10%;
}


.backgroundDelete {
    background: var(--background);
    width: 100%;
    padding: 1rem;
    color: var(--white);
}

.text {
    color: var(--white);
}

.countMessages {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 2.8%;
    left: 88.7%;
    font-size: .6em;
    color: var(--white);
    background: var(--purple);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    pointer-events: none;
}